body {
  margin: 0;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  gap: 16px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .button-66 {
    padding: 16px 44px;
    min-width: 300px;
  }
}
