<mat-toolbar class="mat-toolbar" color="primary">
 <!-- <button mat-button class="toolbar-button" (click)="goToCustomers()">
    <mat-icon>home</mat-icon>
  </button>-->

  <span class="title">Hausverwaltung</span>
  <span class="spacer"></span>

  <button mat-button class="toolbar-button" (click)="goToCustomerOverview()">
    Kunden
  </button>

  <button mat-button class="toolbar-button" (click)="goToReading()">
    Ablesungen
  </button>

  <button mat-button class="toolbar-button" (click)="goToImportExport()">
    Import / Export
  </button>

  <button mat-button class="toolbar-button">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>

<main class="content">
  <router-outlet></router-outlet>
</main>
