<mat-toolbar>
  <button mat-button class="toolbar-button">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Hausverwaltung</span>
  <span class="example-spacer"></span>
  <button mat-button class="toolbar-button">
    Kunden
  </button>
  <span class="example-spacer"></span>
  <button mat-button class="toolbar-button" routerLink="/reading">

    Ablesungen
  </button>
  <span class="example-spacer"></span>
  <button mat-button class="toolbar-button">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>
<router-outlet>
</router-outlet>
